version: "3.9"
services:
  mongo:
    image: mongo:5
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  api:
    build: .
    restart: always
    environment:
      - MONGO_URI=mongodb://mongo:27017/football_db
      - PORT=3000
      - JWT_SECRET=changeme
    ports:
      - "3000:3000"
    depends_on:
      - mongo
volumes:
  mongo_data:

